
<div class="container">
    <nav class="navbar navbar-light bg-secondary">
      <a class="navbar-brand font-weight-bold text-white" href="/">Login App</a>
      <div>
        <a class="navbar-brand text-white" href="/">Home</a>
        <a class="navbar-brand text-white" href="/login">Login</a>
        <a class="navbar-brand text-white" href="/register">Register</a>
      </div>
    </nav>
</div>