<div class="jumbotron">
    <div id="possible"></div>
    <button class="btn btn-light" id="add">Add</button>
    <button class="btn btn-light " id="delete">Delete</button>
    <div id="root"></div>
</div>