<div class="jumbotron">
    {{#if name}}
    <h2>Home</h2>
    <div id="item"></div>
    <hr>
    <h3 class="mb-5">Welcome {{name}} !!!</h3>
    <a href="/logout" class="btn btn-secondary ">Log Out</a>
    {{else}}
        <h2>Home</h2>
    {{/if}}
</div>