.column,
.poss {
    border: 1px grey solid;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: slategray;
    font-weight: bold;
}
#possible {
    display: flex;
    margin-left: 33%;
    margin-bottom: 20px;
}

.row {
    margin-left: 33%;
}
.jumbotron {
    text-align: center;
}

#btn {
    margin-bottom: 10px;
}
.btn {
    margin: 5px;
}
